.DS_Store
.gitattributes
buildServer.json
/uploads
FrameWeavers.xcodeproj/project.xcworkspace/xcuserdata/chii_magnus.xcuserdatad/UserInterfaceState.xcuserstate
FrameWeavers/Services/Network/Config.env
FrameWeavers/Config.env
/.lingma
